@charset "utf-8";

$brand-color:           #54b2a8 !default;
$brand-color-light:     lighten($brand-color, 40%) !default;
$brand-color-dark:      darken($brand-color, 25%) !default;

$site-title-color:      $brand-color-dark !default;

$text-color:            #111111 !default;
$background-color:      #fdfdfd !default;
$code-background-color: #eeeeff !default;

$link-base-color:       #54b2a8 !default;
$link-visited-color:    darken($link-base-color, 15%) !default;
$link-hover-color:      $text-color !default;

$border-color-01:       $brand-color-light !default;
$border-color-02:       lighten($brand-color, 35%) !default;
$border-color-03:       $brand-color-dark !default;

$table-text-color:      lighten($text-color, 18%) !default;
$table-zebra-color:     lighten($brand-color, 46%) !default;
$table-header-bg-color: lighten($brand-color, 43%) !default;
$table-header-border:   lighten($brand-color, 37%) !default;
$table-border-color:    $border-color-01 !default;


$base-font-size:   24px !default;
$base-font-weight: 500 !default;
$spacing-unit:     30px !default;


body {
  // background-image: url("main.56e8a21d3a50b66a.jpeg");
  background-image: url("21Q1X.jpeg");
  // background-repeat: space;
  background-size: cover;
  // background-blend-mode: saturation;
  // background-attachment: fixed;
  background-position: center;
  background-color: #161212;
 }

// .page-content {
//   background-image: url("21Q1X.jpeg");
//   background-size: cover;
//   background-position: center;
//   opacity: 0.6;
// }

.site-title {
  font-weight: 600;
}

.home {
  background-image: url("21Q1X-background.jpg");
  background-size: cover;
  // background-color: #c6fff5;
  opacity: 90%
}


.content {
  padding: 30px
}

.mm {
  background-image: url("21Q1X-background.jpg");
  background-size: cover;
  // background-color: #c6fff5;
  opacity: 90%;
  margin: 15px;
  padding: 15px;
}

.site-header,
.site-footer,
.footer-col-wrapper,
.social-links {
  background-color: #54b2a8;
  opacity: 90%;
}